.header {
  background: var(--color-dark);
  color: var(--color-light);
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1.25em;
  position: fixed;
  top: 0;
  width: 100%;
}

.header--shrunk {
  padding: 0.3em;
}

.nav {
  margin: 0 auto;
}

.nav__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav__link {
  color: inherit;
  font-weight: var(--fw-bold);
  font-size: var(--fs-h3);
  text-decoration: none;
}

.nav__item + .nav__item {
  margin-left: 3em;
}

.nav__link:hover {
  color: var(--color-accent);
}
