@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,900&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --ff-primary: "Source Sans Pro", sans-serif;
  --ff-secondary: "Source Sans Pro", monospace;

  --fw-slim: 200;
  --fw-reg: 300;
  --fw-bold: 900;

  --color-light: #faf9f6;
  --color-dark: #272727;
  --color-off-white: #f0efeb;
  /* --color-accent: #ffd000; */
  /* --color-accent: #f1c40f; */
  --color-accent: #ffcc33;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-light);
  color: var(--color-dark);
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
  margin: 0;
}

section {
  padding: 5em 1.5em 8em;
}

strong {
  font-weight: var(--fw-bold);
}

:focus {
  outline: 3px solid var(--color-accent);
  outline-offset: 3px;
}

h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}
